@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-wedkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.masthead {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 1em;
}

.micro, .milli, .kilo, .mega,
.giga, .tera, .exa, .zetta,
.yotta, ul, ol, dl, dd, figure, {
  margin: 0 0 1.5rem;
}

.micro {
  font-size: 0.790rem;
  line-height: 1.3;
}

.milli {
  font-size: 0.8889rem;
  line-height: 1.3;
}

.kilo {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.3;
}

.mega {
  font-size: 1.125rem;
  line-height: 1.3;
}

.giga {
  font-size: 1.265rem;
  line-height: 1.3;
}

.tera {
  font-size: 1.423rem;
  line-height: 1.3;
}

.exa {
  font-size: 1.802rem;
  line-height: 1.3;
}

.zetta {
  font-size: 2.027rem;
  text-align: center;
  font-weight: normal;
  line-height: 1.3;
}

.yotta {
  font-size: 2.281rem;
  text-align: center;
  line-height: 1.3;
}

h1 {
  text-align: center;
  padding: 0 1m;
}

.img-flex {
  width: 100%;
  display: block;
}


.nav-top ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

.nav-top li {
  color: lightblue;
  padding: 1em;
}

.nav-top a,
.nav-top:link,
.nav-top:visited {
  text-decoration: none;
  color: blue;
}

.current {
  background-color: blue;
  color: white;
  padding: 0.5em;
}

.curent a,
.current:link,
.current:visited {
  color: white;
}

.title {
  background-color: lightgrey;
  padding: 1em;
}
.back {
  background-color: grey;
  padding: none;
  margin: none;

}

.chara {
  background-color: lightgrey;
  padding: none;
}

.img {
  padding: 1em;
}

.pad {
  padding: 0 1em;
}

@media only screen and (min-width: 20em) {

  .micro, .milli, .kilo, .mega,
  .giga, .tera, .exa, .zetta,
  .yotta, ul, ol, dl, dd, figure, {
    margin: 0 0 1.6rem;
  }


  h1 {
    text-align: center;
  }
  .nav-top {
    clear: both;
    padding-top: 1em;
    text-align: center;
  }

  .nav-top ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
  }

  .nav-top li {
    display: inline;
    color: blue;
  }

  .nav-top a,
  .nav-top:link,
  .nav-top:visited {
    text-decoration: none;
    color: blue;
  }
}

@media only screen and (min-width: 38em) {
  h1 {
    text-align: left;
  }

  .nav-top {
    text-align: left;
  }

  .micro, .milli, .kilo, .mega,
  .giga, .tera, .exa, .zetta,
  .yotta, ul, ol, dl, dd, figure, {
    margin: 0 0 1.7rem;
  }
}
